
RewriteEngine On

RewriteBase /wspiscine/

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule ^([a-z]+)\/?$ index.php?ressource=$1&%{QUERY_STRING} [L]
RewriteRule ^([a-z]+)/([0-9A-Z]+)\/?$ index.php?ressource=$1&id=$2&%{QUERY_STRING} [L]
RewriteRule ^([a-z]+)/([0-9A-Z]+)/([a-z]+)\/?$ index.php?ressource=$1&id=$2&action=$3&%{QUERY_STRING} [L]

